.test {
  background-color: #d9d9d9;
  /*position: absolute;*/
  height: 158px;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

.character {
  color: #676767;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 102px 56px 0px 56px;
}
