.camera_start_button {
  width: 100%;
  max-width: 300px;
  height: 82px;
  border-radius: 22px;
  font-size: 24px;
  background-color: #62e3ff;
  border: none;
  outline: none;
}

.video {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ccc;
}
